* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 30px;
    background:#f9f9f9;
}

div {
    padding: 15px;
}

.content {
    padding-left: 15px;
}

.content ul {
    padding-left: 25px;
    margin-top:5px;
}

h2 {
    padding-left:4px ;
}

header .title {
    text-align: center;
    font-size:22pt;
    font-weight: bold;
}

header .content {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    gap: 5px;
}

header .content a {
    text-transform: capitalize;
}

header .content a:visited {
    color: blue;
}

.content a:hover {
    color: darkblue;
    transform: scale(1.02);
}

main {
    line-height: 2rem;
}

.targets p {
    font-weight: bold;
    font-size:20px;
}

.btn-whats {
    position:fixed;
    right: 0px;
    top: 120px;
    z-index: 200;
}

.btn-whats img {
    border-radius: 50%;
}

.btn-whats img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}